<h2>Search Companies</h2>
<!--make a get request to the /companies route -->
<form action='/companies' method='GET'>
    <label>Name</label>
    <input type='text' name='name' value='<%= searchOptions.name %>'/>
    <button type='submit'>search</button>
</form>
<br>
<% companies.forEach(company => { %>
    <div><%= company.name %></div>
    <!--view the company-->
    <a href='/companies/<%= company.id %>'>View</a>
    <!--edit the company -->
    <a href='/companies/<%= company.id %>/edit'>Edit</a>
    <!--delete the company: use method overriding to send request -->
    <%- include('../components/deleteForm', {url: `companies/${company.id}`} )  %>
<% }) %>
