<h2>Search Applications</h2>
<!--make a get request to the /companies route -->
<form action='/applications' method='GET'>
    <div>
        <label>Job Title</label>
        <input type='text' name='title' value='<%= searchOptions.title %>'/>        
    </div>
    <div>
        <label>Application Status</label>
        <input type='text' name='status' value='<%= searchOptions.status %>'/>
    </div>

    <button type='submit'>search your application</button>
</form>
<br>
<div>
    <% applications.forEach(application => { %>
        <a href='/applications/<%= application.id %>'><%= application.title %></a>
        <div><%= application.status %></div>
        <div><%= application.appliedDate.toISOString().split('T')[0] %></div>
    <% }) %>
</div>