<!--show page for individual applications-->
<h2><%= application.title %></h2>
<div>Job title: <%= application.title %></div>
<div>Company: <%= application.company.name %></div>
<div>Applied Date: <%= application.appliedDate.toISOString().split('T')[0] %></div>
<div>resume used:
    <img height='600' width='600' src='<%= application.resumeFilePath %>'/>
</div>
<!--edit the application-->
<a href='/applications/<%= application.id %>/edit'>Edit</a>
<!--view the company-->
<a href='/companies/<%= application.company.id %>'>View Company</a>
<!--delete the application-->
<%- include('../components/deleteForm', {url: `/applications/${application.id}`}) %>